* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
}
.topo {
    width: 100%;
    height: 120px;
    background-color: rgb(63, 153, 40);
    position: fixed;
    display: flex;
}
.logo {
    width: 30%;
    height:100%;
    display: flex;
}
#logo-menu {                           /*Respeonde sobre a logo que esta na div logo*/
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 100px;
}
.menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link {                                 /*Responde a UL que esta na div menu */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#links {                              /*Responde aos links do menu*/
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#li-dos-links{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#li-dos-links:hover {
    width: 120px;
    height: 120px;
    background-color: green;
}
.loguin {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.perfil {         /*Parte do perfil*/
    width: 10%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#open {        /*Onde clica para abrir o perfil*/
    width: 80px;
    height: 60px;
    background-color: rgb(194, 67, 67);
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 29px;
    border-radius: 5px;
}
.pop {           /*area do perfil*/
    width: 400px;
    height: 300px;
    padding: 20px;
    position: fixed;
    margin: 400px 1080px 0px 0px;
    border-radius: 5px;
    background-color: green;
    text-align: center;
    display: none;
  
}
#overlay {          /*Parte escura do fundo do perfil*/
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Cor e opacidade do overlay */
}
.funçoes-pop{           /*Parte do perfil*/
    display: flex;
    align-items: center;
}
.logo-menu-pop {         /*area da logo do perfil*/
    width: 60%;
    height: 100%;
    border-radius: 5px;
}
#logo-pop {           /*logo do perfil*/
    width: 200px;
}
.opçoes-menu-pop {          /*area das opçoes do perfil*/
    width: 40%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-pop-loguin {
    width: 150px;
    height: 50px;
    margin: 15px 0px 0px 0px;
    border-radius: 5px;
}
#text-btn-pop-loguin{
    color: black;
}
#text-btn-pop-loguin:hover{
    color: red;
}
.box-pop {              /*div da area da div do perfil*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.button {               /*div do botão close do perfil*/
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
}
#close {               /*Parte do perfil / botão de fechar*/
    width: 30px;
    height: 30px;
    background-color: green;
    color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
    font-size: 25px;
    border-radius: 5px;
}
#close:hover {           /*Parte do perfil / botão de fechar*/
    color: red;
}
.content {
    width: 100%;
    height: 130px;
}
.menu-mobile {
    display: none;
}
.anuncios{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.destaques {
    margin-top: 30px;
    width: 90%;
    height: auto;
}
.titulo-destaques {
    width: 100%;
    height: 50px;
    background-color: white;
}
#titulo-destaques-texto{
    font-size: 35px;
    color: rgb(194, 67, 67);
    font-family: 'Signika Negative', sans-serif;
}
.bloco-box-1{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.box {
    width: 250px;
    height: 420px;
}
.img-box{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#img-do-produto{
    width: 80%;
    height: 200px;
}
.adicionar-na-sacola{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-adicionar-na-sacola{
    width: 150px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: green;
}
#btn-adicionar-na-sacola:hover{
    background-color: orange;
}
.valor-do-produto{
    width: 100%;
    height: 30px;
    font-size: 12px;
    text-align: center;
}
.descrição-do-produto{
    width: 100%;
    height: 60px;
    font-size: 13px;
    text-align: center;
}
.titulo-do-produto{
    width: 100%;
    height: 30px;
    font-size: 15px;
    text-align: center;
}
.novidades{
    width: 90%;
    height: 150px;
    margin-top: 100px;
}
@media screen and (min-width: 600px) and (max-width: 1150px) {
    .topo {
        width: 100%;
        height: 120px;
        background-color: rgb(63, 153, 40);
        position: fixed;
        display: flex;
    }
    .logo {
        width: 70%;
        height:100%;
        display: flex;
        justify-content: first;
    }
    #logo-menu {                           /*Respeonde sobre a logo que esta na div logo*/
        width: 200px;
        height: 200px;
        border-radius: 5px;
        margin-top: 20px;
    }
    #open {        /*Onde clica para abrir o perfil*/
        width: 80px;
        height: 50px;
        background-color: rgb(63, 153, 40);
        color: white;
        font-size: 50px;
    }
    .pop {           /*area do perfil*/
        width: 400px;
        height: 300px;
        /* padding: 20px; */
        /* position: fixed; */
        margin: 500px 400px 0px 0px;
        border-radius: 5px;
        background-color: green;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: none;
      
    }
    .menu {
        display: none;
    }
    .menu-mobile {
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .sub-menu-mobile{
        width: 80%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(63, 153, 40);
    }
    .parte1-menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .parte2-menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #links-menu {                              /*Responde aos links do menu*/
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    #li-dos-links-menu{
        width: 101%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 5px 0px 5px 0px;  
    }
    #li-dos-links-menu:hover {
        width: 105%;
        height: 50px;
        background-color: green;
    }
    }
@media screen and (min-width: 280px) and (max-width: 600px) {
    .topo {
        width: 100%;
        height: 120px;
        background-color: rgb(63, 153, 40);
        position: fixed;
        display: flex;
    }
    
    .logo {
        width: 70%;
        height:100%;
        display: flex;
        justify-content: center;
    }
    #logo-menu {                           /*Respeonde sobre a logo que esta na div logo*/
        width: 150px;
        height: 140px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 0px;
    }
    #open {        /*Onde clica para abrir o perfil*/
        width: 80px;
        height: 50px;
        background-color: rgb(63, 153, 40);
        color: white;
    }
    .pop {           /*area do perfil*/
        width: 250px;
        height: 300px;
        margin: 500px 170px 0px 0px;
        border-radius: 5px;
        background-color: green;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .logo-menu-pop {         /*area da logo do perfil*/
        width: 50%;
        height: 100%;
        border-radius: 5px;
    }
    #logo-pop {           /*logo do perfil*/
        width: 150px;
    }
    .opçoes-menu-pop {          /*area das opçoes do perfil*/
        width: 50%;
        height: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #btn-pop-loguin {
        width: 100px;
        height: 50px;
        margin: 15px 0px 0px 0px;
        border-radius: 5px;
    }
    .menu {
        display: none;
    }
    .menu-mobile {
        width: 100%;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }
    .sub-menu-mobile{
        width: 80%;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(63, 153, 40);
    }
    .parte1-menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .parte2-menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #links-menu {                              /*Responde aos links do menu*/
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    #li-dos-links-menu{
        width: 101%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 5px 0px 5px 0px;  
    }
    #li-dos-links-menu:hover {
        width: 105%;
        height: 50px;
        background-color: green;
    }
    .content {
        width: 100%;
        height: 100px;
    }
    .titulo-destaques {
        width: 100%;
        height: 50px;
        background-color: white;
        margin-bottom: 50px;
        text-align: center;
    }
    #titulo-destaques-texto{
        font-size: 35px;
        color: rgb(194, 67, 67);
        font-family: 'Signika Negative', sans-serif;
    }
}